/* =======================
  Footer
========================= */
#big_footer
  {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0 0 0 ;

    border-top: solid 1px var(--mainTheme);
}

#wrapper
  {
    width: 90%;
    margin: auto;

    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;

    font-size: small;
  }
#wrapper section
  {
    margin: 0 1em;
    display: inline;
  }
#social img
  {
    width: 1em;
  }
#wrapper a
  {
    display: grid;
    font-size: small;
  }

footer
  {
    width: 80%;
    margin: 2em auto 1em;
    padding: 1em 0;

    border-top: solid 1px var(--mainTheme);

    font-size: small;
    text-align: center;
  }