/* =======================
    Global
  ========================= */
:root
{
  --mainTheme: #99C6FA;
  --mainDarkTheme: #86b0e0;
  --mainDarkerTheme: #739cca;
}
@font-face
  {
    font-family: 'Poppins';
    src: url(./../fonts/Poppins/Poppins-Regular.ttf);
  }

*
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body
  {
    background-color: rgb(248, 247, 247);

    font-family: 'Poppins', sans-serif;
    font-size: 1em;
  }

  #login_btn{
    width: 6em;
    height: 3em;
    background-color: var(--mainTheme);
    
    margin-top: -1.5em;
    border: none;
    border-radius: 0.25em;

    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;

    transition: all 0.3s ease;
    cursor: pointer;
  }

  #login_btn:hover{
    background-color: var(--mainDarkTheme);
  }
  #login_btn:active{
    background-color: var(--mainDarkerTheme);
  }

    figure
    {
      display: flex;
      align-items: center;
      justify-content: left;
    }
    figure img
    {
      margin-right: 0.5em;
    }


a
  {
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
  }
  a:hover
  {
    color: var(--mainDarkTheme);
  }
  a:active
  {
    color: var(--mainDarkerTheme);
  }


/* =======================
  Main
========================= */
#hero_area
    {
      height: 100vh;
      width: 100%;
      background: url(./../img/img-hero.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      margin-top: 1.5em;
    }

main
  {
    width: 80%;
    margin: auto;
  }
  
  article
  {
    
    margin-top: 4em;
  }
  main article h1
  {
    margin-bottom: 0.5em;
    text-align: center;
  }
      #our_story p,
    #how_began p
  {
    margin-bottom: 0.5em;
    text-align: center;
  }
  main article small
  {
    display: block;
    text-align: center;
  }

  main section
  {
    margin-top: 2.5em;
    display: table-cell;
    width: 50%;
  }
  #our_story
    {
      float: left;
      padding-right: 4em;
      margin-bottom: 3em;
    }


  #how_began
    {
      float: right;
      padding-left: 4em;
      margin-bottom: 3em;
    }
  main section h2 
    {
      text-align: left;
    }
    #our_story p,
    #how_began p
    {
      margin: 1em 0;
      text-align: left;
    }

    #comercial
      {
        margin: auto -9em;
        display: flex;
        height: 100vh;
        width: 125.89%;
        background: url(./../img/img-hero2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    
    #news
      {
        margin-bottom: 1em;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: left;
        align-items: center;
        width: 100%;
        text-align: center;
      }
      #news h2
      {
        margin-bottom: 0.5em;
      }
      #news ul
        {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: space-between;
          justify-content: space-evenly;
          align-items: center;

          list-style: none;

          margin-top: 1em;
        }

        #news li
          {
            margin-left:1em;
          }

          #news figure
            {
              display: flex;
              align-items: stretch;
              flex-direction: column;
              flex-wrap: nowrap;
              align-content: space-between;
              justify-content: center;
            }

            #news img
              {
                width: 15em;
                border-radius: 0.3em;
              }

              #news .fadding_caption /*.active*/
                {
                  margin-left: 0.3em;
                  font-size: small;
                  text-align: left;
                  display: none;
                }
